.DS_Store

/libs/atnotate/atnotate.pyc
.idea

/src/android/.classpath
/src/android/.project
/src/android/bin/*
/src/android/gen/*
/src/www/js/app.min.js
/src/www/css/app/app.min.css

/node_modules
/docs
/pkg
/tmp
/build
/log

.tern-port

/src/android/*
/src/ios/*
/test
/libs